{{ 'style.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "Sticky Cart Bar",
  "target": "section"
}
{% endschema %}

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
>

<section class="add-cart-section" id="add-cart-id">
  <div id="pnotibarbtn" class="showpnotibar">
    <div class="product-card">
      <div class="product-info mobhide">
        <img width="50px" height="50px" src="{{ product.featured_image.src | img_url: 'master' }}" class="earring-img">
        <h3>{{ product.title }}</h3>
      </div>

      <select class="form-control round sel1" id="quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
      <div class="metal">
       
        <select id="metal-dropdown" class="metal-select" style="width:90px; margin:6px">
          {% assign selected_metals = '' %}
          {% for variant in product.variants %}
            {% assign metal = variant.title | split: ' / ' | first %}
            {% unless selected_metals contains metal %}
              {% if product.selected_variant.title == variant.title %}
                <option value="{{ metal }}" selected>{{ metal }}</option>
              {% else %}
                <option value="{{ metal }}">{{ metal }}</option>
              {% endif %}
              {% assign selected_metals = selected_metals | append: metal | append: '|' %}
            {% endunless %}
          {% endfor %}
        </select>
      </div>
    
      <select id="size-input" class="form-control round sel3">
        {% assign selected_sizes = '' %}
        {% for variant in product.variants %}
          {% assign size = variant.title | split: ' / ' | last %}
          {% unless selected_sizes contains size %}
            {% if product.selected_variant.title == variant.title %}
              <option value="{{ size }}" selected>{{ size }}</option>
            {% else %}
              <option value="{{ size }}">{{ size }}</option>
            {% endif %}
            {% assign selected_sizes = selected_sizes | append: size | append: '|' %}
          {% endunless %}
        {% endfor %}
      </select>

      <div class="product-price" id="svprice"></div>

      <button class="add-to-cart-btn" onclick="cartChange()">Buy Now</button>
      <div class="clearfix"></div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var productid = '{{ product.id }}'; 
    console.log("product", productid);
    if (!productid || productid === '') {
        document.getElementById('add-cart-id').style.display = 'none';
    }
});


  function selected(selectedNumber=1){
  var price = parseFloat('{{ product.price | money_without_currency  }}');
    var totalPrice = price * selectedNumber;
    console.log("price",totalPrice);
    var currency = "{{ product.price | money_with_currency | split: ' ' | first }}";
    console.log("curr",currency[0])

    document.getElementById('svprice').textContent = currency[0]+' '+totalPrice.toFixed(2);
    
      }
      selected();
      document.getElementById('quantity').addEventListener('change', function(){
        selected(this.value);
      });



    let key;
     const obj = [
        {% for variant in product.variants %}
            { "{{ variant.id }}": "{{ variant.title }}" },
        {% endfor %}
    ];
    console.log(obj);
    const a=[{% for variant in product.variants %}
            "{{ variant.title }}" ,
        {% endfor %}]
    console.log("a",a)


document.addEventListener('click', function() {
    const metalval = document.getElementById('metal-dropdown').value;
    const sizeval = document.getElementById('size-input').value;  
    let result;
    if (a[0].includes('/')) {
  result = metalval + " / " + sizeval;
  console.log("metal", metalval, "size", sizeval);
  console.log("concat:", result);
} else if (!a[0].includes(' / ')) {
   result = metalval;
   const size = document.getElementById('size-input')
   size.style.display = 'none';
  console.log("met", metalval);
  console.log("concat:", result);
}



      console.log("m", metalval, "s", sizeval);
      console.log("concat:", result);
      console.log("variant",{{ variant.title | split: ' / ' | first }})

      const match = obj.find(item => Object.values(item)[0] === result);
      if (match) {
          key = Object.keys(match)[0];
          console.log("Key:", key);
      } else {
          console.log("No matching key found.");
      }
  });

  document.addEventListener('DOMContentLoaded', function() {
    const metalval = document.getElementById('metal-dropdown').value;
    const sizeval = document.getElementById('size-input').value;  
    let result;
    if (a[0].includes('/')) {
  console.log("fg")
} else if (!a[0].includes(' / ')) {
   const size = document.getElementById('size-input')
   size.style.display = 'none';
}
      })


  async function cartChange() {
  const productId = key;
  console.log("q",productId);
   var quantityInput = document.getElementById("quantity");
  var quantityValue = quantityInput.value;

    console.log("a",quantityValue);
  
   const data = {
    items: [
        {
          id: productId,
          quantity: quantityValue
        }
      ]
    };

    const response = await fetch("/cart/add.js", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "Accept": "application/json"
      },
      body: JSON.stringify(data)
    });

    const myJson = await response.json();
    console.log(myJson);
    if(response.ok)
    {
      console.log(data)
      window.location.href = "/cart";
    }
    else
    {
      alert("Product not added to cart");
    }
  }
</script>


